.center-section {
    margin-left: auto;
    margin-right: auto;
}

.articles-list {
    margin: 0 auto;
    padding: 0;
}

.spin, .paginaion {
    display: flex;
    justify-content: center;
    margin: 30px;
}